<div class="user-spots">
  <h2>My Spots</h2>
  <div>
    <h1>Explore Page</h1>

    <form action="">
      <label for="">This is the search form</label>
    </form>

    <div class="">
      <label for="character-id">Filter Spots:</label>
      <input type="text" name="Spot-category" id="fetch-by-category-input" />
      <button id="fetch-by-cat">Filter</button>
    </div>


    {{#each spots}}
    <div class="card card-body">
      <h4>name: {{this.name}}</h4>
      <p>location: {{this.location}}</p>
      <p>category: {{this.category}}</p>
      <p>description: {{this.description}}</p>
      <p><a href="/spot-details/{{this.id}}" class="btn btn-primary">See more</a>
    </div>
    <hr>
    {{/each}}
  </div>
</div>