<div class="view text-center p-3 p-md-5 m-md-3">

  <div>
    {{!-- <span> <img src="../images/secretLogo.png" alt="logo" class="img-fluid"></span> --}}
    <h1>Explore around the world</h1>
    <br>
    <div id="map" style="width: 100%; height: 500px; border-radius: 5px;"></div>
    <br>
    <div class="search-filter text-center">
      <div>
        <h6>Search by name</h6>
        <div class="text-center filter-div">
          <input class="card input-search" id="fetch-by-name-input" type="text" placeholder="search">
          <button id="fetch-by-name" class="btn btn-primary">Search</button>
        </div>
        <div>

        </div>
      </div>
      <div>
        <h6>Filter by category</h6>
        <div class="text-center filter-div">
          <label for="filter-spots"></label>
          <select id="fetch-by-category-input" class="input-search card" name="category" value="{{category}}">
            <option value="Beach">Beach</option>
            <option value="For sunrise">For sunrise</option>
            <option value="For sunset">For sunset</option>
            <option value="To bike">To bike</option>
            <option value="To eat">To eat</option>
            <option value="To hike">To hike</option>
            <option value="To hike">To relax</option>
            <option value="To walk">To walk</option>
            <option value="To visit">To visit</option>

          </select>
          <button id="fetch-by-cat" class="btn btn-primary">Filter</button>
        </div>
        <div>

        </div>
      </div>

    </div>
    <br>
    <a href="/explore" class="btn btn-danger">Clear filters</a>
    <br>
    <hr>

    <div id="slideShow" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div id="cont">
          {{#each spots}}
          <div id="slider" class="card-body {{#if @first }}carousel-item active {{else}} carousel-item {{/if}}">
            <h4>{{this.name}}</h4>
            <p>{{this.category}}</p>
            {{#if this.imageUrl}}
            <img class="rounded mx-auto d-block image-square" src="{{this.imageUrl}}" class="card-img-top"
              alt="{{name}}">
            {{else}}
            <a href='https://www.freepik.com/vectors/background' target="_blank"><img
                class="rounded mx-auto d-block image-square" src="../images/landscape.png" class="card-img-top"
                alt="{{name}}"></a>
            {{/if}}
            <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="rgb(44,172,110)"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              </svg> {{this.location.formattedAddress}}</p>
            <p><a href="/spot-details/{{this.id}}" class="btn btn-primary">See more</a>
          </div>
          {{/each}}
          <a class="left carousel-control-prev" href="#slideShow" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control-next" href="#slideShow" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </div>
    {{!-- las-last div --}}
  </div>
  {{!-- last div --}}
  <br>
</div>