<div class="view text-center p-3 p-md-5 m-md-3">
  {{!-- add favourites --}}

  <div>
    <div class="card-body text-center position-relative">
      <form action="/user-profile/spot-details/{{_id}}/fav" method="post">
      </form>
      <h3>{{name}}</h3>
      <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="rgb(44,172,110)"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
          <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        </svg> {{location.formattedAddress}}</p>
      {{#if imageUrl}}
      <img class="rounded mx-auto d-block image-square" src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
      {{else}}
      <a href='https://www.freepik.com/vectors/background' target="_blank"><img
          class="rounded mx-auto d-block image-square" src="../images/landscape.png" class="card-img-top"
          alt="{{name}}"></a>
      {{/if}}

      <div class="cat-details row justify-content-between">
        <h5>{{category}}</h5>
        <div class="forms-spot-details">
          <form action="/user-profile/spot-details/{{_id}}/fav" method="post">
            <button type="submit" class="button-fav"><svg fill="rgb(44, 172, 110)" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z" />
              </svg></button>
          </form>

          <form action="/user-profile/spot-details/{{_id}}/fav/delete" method="post">
            <button type="submit" class="button-fav"><svg fill="rgb(77, 77, 77, 0.7)" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M19.5 10c-2.483 0-4.5 2.015-4.5 4.5s2.017 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.017-4.5-4.5-4.5zm2.5 5h-5v-1h5v1zm-6.527 4.593c-1.108 1.086-2.275 2.219-3.473 3.407-6.43-6.381-12-11.147-12-15.808 0-4.005 3.098-6.192 6.281-6.192 2.197 0 4.434 1.042 5.719 3.248 1.279-2.195 3.521-3.238 5.726-3.238 3.177 0 6.274 2.171 6.274 6.182 0 .746-.156 1.496-.423 2.253-.527-.427-1.124-.768-1.769-1.014.122-.425.192-.839.192-1.239 0-2.873-2.216-4.182-4.274-4.182-3.257 0-4.976 3.475-5.726 5.021-.747-1.54-2.484-5.03-5.72-5.031-2.315-.001-4.28 1.516-4.28 4.192 0 3.442 4.742 7.85 10 13l2.109-2.064c.376.557.839 1.048 1.364 1.465z" />
              </svg></button>
          </form>

        </div>



      </div>
      <p class="descrip-cont">{{description}}</p>

      {{!-- add comment form --}}

      <h5>Have you been here? Leave your review</h5>
      <form class="form-signin mx-auto" action="/spot-details/{{_id}}/comment" method="POST">
        <textarea name="content" id="comment-content-input" cols="30" rows="2"
          class="form-control card card-body comment-content"></textarea> <br>
        <button type="submit" class="btn btn-primary">Comment</button>
      </form>
      <hr>


      {{!-- see comments --}}
      <h5>Reviews</h5>
      {{#if comments}}
      {{#each comments}}
      <br>
      <div>
        <h6>{{this.author.username}}</h6>
        <div class="card card-body">
          <p> {{this.content}}</p>
        </div>
        {{!-- delete a comment --}}
        {{#if canDelete}}
        <br>
        <form action="/spot-details/{{_id}}/comment/delete/{{@root.spotId}}" method="post">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        {{/if}}
      </div>

      {{/each}}
      {{else}}
      <p>No reviews yet!</p>
      {{/if}}





      {{!-- <p><a href="/user-profile/user-spots/{{this.id}}" class="btn btn-primary">Back</a> ||<a --}}
      {{!-- href="/user-profile/user-spots/{{this.id}}/edit" class="btn btn-primary">Edit</a></p> --}}


    </div>
  </div>
</div>