<div>
  <h2 class="mx-auto">Spot Details</h2>

  </form>


  <div class="card card-body text-center position-relative  p-3 p-md-5 m-md-3 text-center bg-light">
    <div> {{!-- add favourites --}}
      <form action="/user-profile/spot-details/{{_id}}/fav" method="post">
        <button type="submit" class='btn btn-primary float-right'>Add to Favourites</button>
    </div>
    <div class="float-left">
      <h4>{{name}}</h4>
      <p>Address: {{location.formattedAddress}}</p>
      <p>Category: {{category}}</p>
      <p>Description: {{description}}</p>
    </div>
    <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">

    {{!-- see comments --}}
    {{#each comments}}
    <div class="card card-body">
      <p>Author: {{this.author.username}}</p>
      <p> {{this.content}}</p>
    </div>
    <hr>
    {{/each}}

    <br>
    <div>
      {{!-- add comment form --}}
      <h3>Add comment</h3>
      <form class="form-signin mx-auto" action="/spot-details/{{_id}}/comment" method="POST">
        <textarea name="content" id="comment-content-input" cols="30" rows="2" class="form-control"></textarea> <br>
        <button type="submit" class="btn btn-primary">Comment</button>
      </form>
    </div>


    {{!-- <p><a href="/user-profile/user-spots/{{this.id}}" class="btn btn-primary">Back</a> ||<a --}}
    {{!-- href="/user-profile/user-spots/{{this.id}}/edit" class="btn btn-primary">Edit</a></p> --}}


  </div>
  <hr>
</div>