{{!-- mapbox scripts --}}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css" />

{{!-- View --}}
<div class="view text-center p-3 p-md-5 m-md-3">

  <div class="links text-right">
    <a href="/user-profile"><svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left"
        fill="rgb(44, 172, 110)" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg></a>
  </div>

  <br>
  <h2>Edit here the details of {{spot.name}}</h2>
  <br>
  <form class="form-signin mx-auto" id="edit-spot" action="/user-profile/user-spots/{{spot._id}}/edit" method="post"
    enctype="multipart/form-data">

    <input class=" card form-control" type="hidden" name="_id" id="_id-input" value="{{spot._id}}" />
    <div>
      <h6>Name</h6>
      <input class=" card form-control" type="text" name="name" id="name-input" value="{{spot.name}}" />
    </div>
    <br>
    <div>
      <h6>Description</h6>
      <input class=" card form-control" type="text" name="description" id="description-input"
        value="{{spot.description}}">
    </div>
    <br>
    <div>
      <h6>Address</h6>
      <div id="map" style="width: 100%; height: 500px; border-radius: 5px"></div>
    </div>
    <br>
    <div>
      <h6>Category</h6>
      <div class="test-center filter-div">
        <select class="card" id="category-input" name="category" value="{{spot.category}}">
          <option value="Beach">Beach</option>
          <option value="For sunrise">For sunrise</option>
          <option value="For sunset">For sunset</option>
          <option value="To bike">To bike</option>
          <option value="To eat">To eat</option>
          <option value="To hike">To hike</option>
          <option value="To hike">To relax</option>
          <option value="To walk">To walk</option>
          <option value="To visit">To visit</option>

        </select>
      </div>
    </div>


    <div class="text-center choose-file">
      <h6>Image</h6>
      <div class="card-body choose-file">
        <input type="file" name="image" id="image-input" class="card choose-file-input" />
        <input type="text" name="existingImage" hidden id="" value="{{spot.imageUrl}}"> </div>
    </div>

    <div class="btns-create">
      <button class="btn btn-primary" type="submit">Update</button>
      <br>
      <a href="/user-profile" class="btn btn-secondary">Back</a>
      <br>
      <form action="/user-profile/user-spots/{{spot._id}}/edit/delete" method="post">
        <button class="btn btn-danger" type="submit">Delete</button>
      </form>
      <br>
    </div>

  </form>
  <br>
</div>



{{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}
</div>