<h2>Edit here the details of {{name}}</h2>
<form action="/user-profile/user-spots/{{_id}}/edit" method="post">

  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" value="{{name}}" />

  <label for="description-input">Description:</label>
  <textarea type="text" name="description" id="description-input" value="{{description}}"></textarea>
  {{!-- <textarea name="description" id="description-input" cols="30" rows="5" value="{{description}}"></textarea> --}}

  <label for="location">Location:</label>
  <input type="text" name="location" id="location-input" value="{{location}}" />

  <label for="category-input">Category:</label>
  <select id="category-input" name="category" value="{{category}}">
    <option value="To visit">Beach</option>
    <option value="For sunset">For sunrise</option>
    <option value="For sunset">For sunset</option>
    <option value="To bike">To bike</option>
    <option value="To eat">To eat</option>
    <option value="To hike">To hike</option>
    <option value="To hike">To relax</option>
    <option value="To walk">To walk</option>
    <option value="To visit">To visit</option>

  </select>

  <button type="submit">Update</button>

</form>

{{!-- to delete --}}
<form action="/user-profile/user-spots/{{_id}}/edit/delete" method="post">
  <button type="submit">Delete</button>
</form>