{{!-- {{#if user}} --}}
<div class="user-spots">
  <h2>My Favs</h2>
  <div>
    {{#each spots.favSpots}}
    <div class="card card-body">
      <h4>name: {{this.name}}</h4>
      <p>address: {{this.location.formattedAddress}}</p>
      <p>category: {{this.category}}</p>
      <p>description: {{this.description}}</p>
      <p><a href="/user-profile/user-spots/{{this.id}}" class="btn btn-primary">See more</a><a
          href="/user-profile//spot-details/:{{this.id}}/fav/delete" class="btn btn-danger">Remove from Favs</a></p>

    </div>
    <hr>
    {{/each}}
  </div>
</div>

{{!-- {{else}}
<p>Still no logged in user, sorry!</p>
{{/if}} --}}