{{!-- {{#if user}} --}}
<div class="user-spots">
  <h2>My Spots</h2>
  <div>
    {{#each spots}}
    <div class="card card-body">
      <h4>name: {{this.name}}</h4>
      <p>address: {{this.address}}</p>
      <p>category: {{this.category}}</p>
      <p>description: {{this.description}}</p>
      <p><a href="/user-profile/user-spots/{{this.id}}" class="btn btn-primary">See more</a> ||<a
          href="/user-profile/user-spots/{{this.id}}/edit" class="btn btn-primary">Edit</a></p>


    </div>
    <hr>
    {{/each}}
  </div>
</div>

{{!-- {{else}}
<p>Still no logged in user, sorry!</p>
{{/if}} --}}